/* VARIABLES AND GLOBAL SPACING */
:root {
    --primary-color: #76253C;
    --secondary-color: #FFCCB9;
    --optional-color: #F9F5F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL CONFIGURATION */

html {
    font: 400 62.5% 'Montserrat', sans-serif;
}

body {
    background-color: #fff;
}

h2 {
    color: var(--primary-color);
    font-size: 3.2rem;
    padding: 2rem;
    text-align: center;
} 

h3{
    color: var(--primary-color);
    font-size: 1.6rem;
}

p {
    color: #0A0A0A;
    font-size: 1.7rem;
    line-height: 2.5rem;
}

.main-container {
    display: flex;
    align-items: center;
    max-width: 113.4rem;
    margin: 0 auto;
}

.button {
    font-size: 1.8rem;
    text-decoration: none;
    color: #ffffff;
    background-color: var(--primary-color);
    padding: 16px 59px;
    border-radius: 8px;
}

.button:hover {
    border-radius: 8px;
    background: #903B53;
}

.main-color {
    background-color: #76253C;
}

/* NAVBAR */
.nav-logo {
    width: 12.9rem;
}

.nav-menu {
    display: flex;
    height: 11.2rem;
    align-items: end;
    margin-left: auto;
    gap: 1rem;
}

.menu-item {
    list-style: none;
    margin-right: 1rem;
    padding: 16px 24px; 
}

.menu-item:hover,
.menu-item:active, 
.menu-item:focus-within {
    border-radius: 8px 8px 0px 0px;
    border-bottom: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.10);
}

.menu-item.pagina-atual {
    border-bottom: 2px solid #FFF;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
}

/* TOGGLE BUTTON */
.nav-toggle,
.toggle-icon {
    display: none;
}

/* MAIN BANNER */
.hero-banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    padding-bottom: 64px;
    height: 72.9rem;
    
}

.hero-action {
    max-width: 113.4rem;
    margin: 0 auto;
    align-self: flex-end;
    flex: 1;
}

.hero-action h1 {
    color: var(--secondary-color);
    font-size: 5rem;
}

/* WELCOME SECTION */
.container {
    background-color: var(--optional-color);
    padding: 64px 0px;
}

.content-box {
    gap: 1.6rem;
    flex: 1;
    margin-left: auto;
    text-align: right;
    justify-content: space-between;
}

.text-box h2 {
    margin-bottom: 2rem;
    text-align: right;
    padding: 0;
}

.text-box p {
    max-width: 84.6rem;
}

/* SERVICES SECTION */
.service-container {
    max-width: 113.4rem;
    margin: 0 auto;
    text-align: center;
    padding: 64px 0px;
}

.mobile-service {
    display: none;
}

.service-cards {
    padding: 64px 0px;
    display: flex;
    gap: 1.6rem;
}

.cards-item {
    display: flex;
    padding: 2.4rem;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    flex: 1;
    border-radius: 8px;
    border: 1px solid #D9D9D9;
}

.cards-item p {
    width: 28rem;
}

.nail-img {
    width: 26rem;
    border-radius: 10px;
}

.saiba-mais {
    color: var(--primary-color);
    background-color: #ffffff;
    font-weight: bold;
    border: 2px solid var(--primary-color);
}

.saiba-mais:hover {
    background-color: rgba(192, 142, 156, 42%);
}

/* PROFESSIONAL SECTION */
.text-box h3 {
    text-align: left;
}

.founder {
    color: #797979;
    font-style: italic;
    font-weight: 400;
}

.founder-text {
    text-align: left;
    margin: 1rem 0;
}

/* FOOTER */
.footer-container {
    color: #ffffff;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 1rem;
    height: 150px;
    gap: 2rem;
    flex: 1;

}

.footer-container p {
    font-size: 1.2rem;
    margin: .5rem;
    color: #ffffff;
}

.icon {
    font-size: 2rem;
    color: var(--secondary-color);
}

.icon-instagram,
.icon-facebook2 {
    font-size: 3rem;
    color: var(--primary-color);
    padding: .3rem;
} 

.icon-facebook2 {
    border-radius: 10rem;
} 

.icon-circle {
    background-color: var(--secondary-color);
    border-radius: 20rem;
    color: var(--primary-color);
    padding: .7rem;
}

.direitos-autorais {
    background-color: #ffffff;
    font-size: 1.4rem;
    text-align: center;
    padding: 2rem;
}



@media only screen and (max-width: 767px) {

    /* GLOBAL CONFIGURATION */
    body {
        font-size: 1.6rem;
    }

    h2 {
        font-size: 2rem;
        padding: 1rem;
    }

  .button {
        display: block;
        width: 90vw;
        margin: 0 auto;
    } 

    .main-container, 
    .service-cards {
        flex-direction: column;
        width: 32rem;
        margin: 0 auto;
        padding: 2rem 0;
    }

    /* NAVBAR */
    .mobile-header {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-logo {
        width: 9rem;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.open {
        height: auto;
        width: 100vw;
        display: block;
        color: var(--primary-color);
        background-color: #ffffff;
        border: .1rem solid #ccc;
        position: absolute; 
        top: 7.8rem; 
        left: 0; 
        z-index: 999; 
    }

    /* TOGGLE BUTTON */
    .toggle-icon {
        display: inline-block;
        font-size: 2.4rem; 
        color: var(--secondary-color); 
    }
    
    .nav-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
    }

    .nav-toggle.open .toggle-icon {
        display: inline-block; 
    }

    .menu-item,
    .menu-item.pagina-atual {
        margin: 2rem;
    }

    .menu-item:not(:last-child),
    .menu-item.pagina-atual:not(:last-child) {
        border-bottom: 2px solid #D9D9D9;
    }
    
    .menu-item a {
        color: var(--primary-color);
    }

    /* MAIN BANNER */
    .hero-banner {
        height: 33.6rem;
        padding-bottom: 3.2rem;
    }

    .hero-action {
        text-align: center;
    }
    
    .hero-action h1 {
        font-size: 2.5rem;
    }

    /* WELCOME SECTION */
    .container {
        padding: 4rem 0;
    }

    .mobile-box {      
        flex-direction: column-reverse;
    }

    .text-box h2 {
        margin-bottom: 3rem;
        text-align: center;
    }

    .text-box p {
        margin: 3rem auto;
        text-align: left;
    }

    .vetor {
        width: 10.6rem;
        margin: 2rem;
    }

    /* SERVICES SECTION */
    .service-container {
        padding: 3.2rem 0;

    }
    .desktop-service {
        display: none;
    }

    .mobile-service {
        display: block;
    }

    .cards-item {
        margin-bottom: 1.6rem; 
        padding: 0 0 2.4rem;
        border: none;   
    }

    .saiba-mais {
        padding: 1.2rem 1.6rem;
        width: 20rem;
    }

    /* PROFESSIONAL SECTION */

    .nail-img {
        margin-bottom: 3rem;
    }

    .text-box p {
        margin: 1.5rem 0;
       
    }

    /* FOOTER */
    .mobile-footer {
        flex-direction: column-reverse;
    } 

    .icon-footer  {
        display: flex;
        flex-direction: row;
        align-items: left;
        gap: 1rem; 
    }
    
    .footer-container {
        flex-direction: column-reverse;
        align-items: left;
    }

    .mobile-icon {
        flex-direction: row;
        padding: 0;
    }

    .icon-circle {
        width: 4.8rem;
        text-align: center;
    }
    
    .footer-container p {
        font-size: 1.2rem;
        color: #ffffff;
    }

    .direitos-autorais {
        font-size: 1rem;
    }
}